---
# tasks file for dbserver
- name: Ensure MariaDB-server and python3-PYMySQL installed
  ansible.builtin.package:
    name:
      - mariadb-server
      - python3-PyMySQL
    state: present

- name: Ensure MariaDB-server is started
  ansible.builtin.service:
    name: mariadb
    enabled: true
    state: started

- name: Create a new database with name webappdb
  community.mysql.mysql_db:
    name: webappdb
    state: present
    login_unix_socket: /var/lib/mysql/mysql.sock

- name: Create a new user with name webappuser
  community.mysql.mysql_user:
    name: webappuser
    password: '{{ webappuser_password }}'
    priv: 'webappdb.*:ALL'
    state: present
    login_unix_socket: /var/lib/mysql/mysql.sock

- name: Copy all .md files to the deploy's home directory
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/home/deploy"
    owner: "deploy"
    mode: 0644
  with_fileglob: "*.md"
