---
- name: Install Mariadb
  hosts: db
  become: true
  tasks:
     - name: Ensure MariaDB-server is installed
       ansible.builtin.package:
         name: mariadb-server
         state: present

     - name: Ensure python3-PYMySQL is present on the db-server
       ansible.builtin.package:
         name: python3-PyMySQL
         state: present

     - name: Create a new database with name webappdb
       community.mysql.mysql_db:
         name: webappdb
         state: present
         login_unix_socket: /var/lib/mysql/mysql.sock

     - name: Create a new user with name webappuser
       community.mysql.mysql_user:
         name: webappuser
         password: '{{ webappuser_password }}'
         priv: 'webappdb.*:ALL'
         state: present
         login_unix_socket: /var/lib/mysql/mysql.sock

     - name: Ensure MariaDB-server is started
       ansible.builtin.service:
         name: mariadb
         enabled: true
         state: started
