---
- name: Security compliance check
  hosts: all
  become: true
  tasks:
    - name: Gather facts about installed packages
      ansible.builtin.package_facts:

    - name: Gather facts about system services
      ansible.builtin.service_facts:

    - name: Ensure FTP server (vsftpd) is not installed
      ansible.builtin.assert:
        that: "'vsftpd' not in ansible_facts.packages"
        fail_msg: "FAILED: vsftpd is installed"
        success_msg: "OK: vsftpd is not installed"

    - name: Ensure TFTP server is not installed
      ansible.builtin.assert:
        that: "'tftp-server' not in ansible_facts.packages"
        fail_msg: "FAILED: TFTP server is installed"
        success_msg: "OK: TFTP server is not installed"

    - name: Ensure CUPS print server is not installed
      ansible.builtin.assert:
        that: "'cups' not in ansible_facts.packages"
        fail_msg: "FAILED: CUPS print server is installed"
        success_msg: "OK: CUPS print server is not installed"

    - name: Ensure DHCP server (kea) is not in use  # kea, den moderna och numera rekommenderade DHCP-serverprogramvaran från ISC
      ansible.builtin.assert:
        that: "'kea' not in ansible_facts.packages"
        fail_msg: "FAILED: DHCP server (kea) is installed"
        success_msg: "OK: DHCP server (kea) is not installed"

    - name: Ensure autofs (automatic mounting) is not in use
      ansible.builtin.assert:
        that: "'autofs' not in ansible_facts.packages"
        fail_msg: "FAILED: autofs is installed"
        success_msg: "OK: autofs is not installed"

    - name: Ensure Samba is not in use
      ansible.builtin.assert:
        that: "'samba' not in ansible_facts.packages"
        fail_msg: "FAILED: samba is installed"
        success_msg: "OK: samba is not installed"

    - name: Ensure avahi deamon is not in use
      ansible.builtin.assert:
        that: "'avahi' not in ansible_facts.packages"
        fail_msg: "FAILED: avahi is installed"
        success_msg: "OK: avahi is not installed"

    - name: Ensure firewalld is installed
      ansible.builtin.assert:
        that: "'firewalld' in ansible_facts.packages"
        fail_msg: "FAILED: firewalld is not installed"
        success_msg: "OK: firewalld is installed"

    - name: Ensure firewalld is running
      ansible.builtin.assert:
        that: "ansible_facts.services['firewalld.service'].state == 'running'"
        fail_msg: "FAILED: firewalld.service is not 'running'."
        success_msg: "OK: firewalld.service is 'running'."
      # Undviker att Ansible kraschar om tjänsten inte existerar, eftersom that försöker läsa .state på en icke-existerande tjänst annars
      when: "'firewalld.service' in ansible_facts.services"

    - name: Ensure rsync service is not in use
      ansible.builtin.assert:
        that: "ansible_facts.services['rsyncd.service'].state != 'running'"
        fail_msg: "FAILED: rsyncd.service is running"
        success_msg: "OK: rsyncd.service is not running"
      when: "'rsyncd.service' in ansible_facts.services"
